.modal-body {
  text-align: center;
}

.result-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tweet-button {
  margin-top: 14px;
  background: #219FF3;
  color: #ffffff;
}
.tweet-button:hover {
  background: #219FF3;
  color: #ffffff;
  opacity: 0.5;
}
